# reducing functions

are functions that recombine iterators recursively, endign up with single return value. Also called agreggators, accumulators, folding functions.

Example: finding the maximum in an iterable. 
Iterate over a1, a2, a3, a4.
comapre two pairs and return the larger one. 
Start with a1, go through list.
--> recieve max value
so, recombined iterators recursively, ended with single return value

similar procedure for min()

can write general reducing function that takes in function that specifies reduction and sequence to apply to:

In [15]:
sequ=[1,2,3,4,5,6,7,8,9,10]
# self-written reducing function (only orks for lists):
def _reduce(fn,sequ : list):
    result=sequ[0]
    for i in sequ[1:]:
        result=fn(result,i)
    return result

# specific function to put in:
maxi=lambda x,y : x if x>y else y
mini= lambda x,y : x if x<y else y
add = lambda x,y : x+y

In [16]:
print(_reduce(add,sequ))
print(_reduce(maxi,sequ))
print(_reduce(mini,sequ))

55
10
1

--> Important concept!!!

### reduce( ) from functools

supports any iterable, not just sequence type like the selfwritten one.

In [17]:
# also implemented in python:
from functools import reduce
reduce(maxi,sequ)

10

In [20]:
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

In [23]:
reduce(min, {'A','b','c','d',})

'A'

In [24]:
# applied to string concatination:
reduce(lambda a,b : a+'_'+b, ("this", "is", "a", "sentence"))

'this_is_a_sentence'

Common reducing functions are implemented: min(), max(), sum(), any(), all()

### any( )
returns True if any element in sequence is true, false otherwise.
### all( )
returns True if all elements in sequence are ture, false otherwise.

In [8]:
any([False,0,None,"a"])

True

In [10]:
any({0,False,None,0+0j})

False

In [12]:
all([1,2,3,4,5,0])

False

In [13]:
# in reduce:
#all:
reduce(lambda x,y : bool(x) and bool(y),[1,2,3,4,5,0])

False

In [14]:
# any:
reduce(lambda x,y : bool(x) or bool(y),{0,1,None,False,''})

True

In [26]:
# reduce can be used to calculate n! ("n factorial")
reduce(lambda x,y:x*y,range(1,6))

120

In [27]:
1*2*3*4*5

120

### initializer
addition optional argument in reduce( ) function, value tos tart with. Useful in case of empty sequences.

In [28]:
s=[]
reduce(max,s)

TypeError: reduce() of empty sequence with no initial value

In [29]:
reduce(max,s,0)

0

In [31]:
# but careful!
s=[2,3,4]
reduce(min,s,1)

1