### Assignments in Mutable Sequences

We have seen how to mutate mutable sequences using append, insert, extend and in-place concatenation (`+=`).

But mutable sequences also allow us to mutate the sequence by assigning values (iterables) to slices. Depending on how we specify the slice, and what the value is, we can actually insert, modify and delete elements of the sequence.

#### Standard Slices

##### Replacement

We can replace a slice of a sequence with any other iterable. They need not even be of the same length.

In [1]:
l = [1, 2, 3, 4, 5]
id(l)

4365701568

In [2]:
l[0:3]

[1, 2, 3]

In [3]:
l[0:3] = ['a', 'b', 'c', 'd']

In [4]:
l, id(l)

(['a', 'b', 'c', 'd', 4, 5], 4365701568)

In fact, since strings are iterables, this would work too:

In [39]:
l = [1, 2, 3, 4, 5]

In [40]:
l[0:3] = 'python'

In [41]:
l

['p', 'y', 't', 'h', 'o', 'n', 4, 5]

##### Deleting

Delete is really just a special case of replacement, where we replace with an empty iterable.

In [27]:
l = [1, 2, 3, 4, 5]
id(l)

1449221214024

We can delete a single element by defining a slice that precisely selects that element, and replacing it with an empty iterable.

In [5]:
l[0:1]

['a']

In [6]:
l[0:1] = []

In [7]:
l, id(l)

(['b', 'c', 'd', 4, 5], 4365701568)

If we want, we can delete multiple element at once using the same technique:

In [8]:
l = [1, 2, 3, 4, 5]
id(l)

4365717120

In [9]:
l[0:2]

[1, 2]

In [10]:
l[0:2] = []

In [11]:
l, id(l)

([3, 4, 5], 4365717120)

##### Inserting

In [12]:
l = [1, 2, 3, 4, 5]
id(l)

4365718400

Here we have to be careful if we want to insert something.

If we replace a slice that contains elements from the sequence, we'll be replacing those elements.

So what we really want here is a way to replace an empty slice in our sequence!

Let's say we want to insert some elements at the second position in the sequence (index 1):

In [13]:
l = [1, 2, 3, 4, 5]
id(l)

4365409472

In [14]:
l[1:2]

[2]

The problem is that if we assign something to that slice it will replace the element `2`, and that's not what we want.

Instead, we have to define an empty slice at the location where we want the insert to take place, in this case at index `1`:

In [15]:
l[1:1]

[]

So, this is an empty slice start at `1` and ending *before* `1`

In [16]:
l[1:1] = 'abc'

In [17]:
l, id(l)

([1, 'a', 'b', 'c', 2, 3, 4, 5], 4365409472)

And of course the memory address of `l` has not changed. We mutated the list.

#### Side Note: Immutable Sequences

As a side note, what would happen if we tried the same technique using immutable sequences, such as tuples for example?

In [18]:
t = 1, 2, 3, 4, 5

In [19]:
t[0:3] = (10, 20)

TypeError: 'tuple' object does not support item assignment

As expected, we cannot mutate an immutable type.

#### Extended Slices

So now let's explore what happens if we assign iterables to extended slices.

In [20]:
l = [1, 2, 3, 4, 5]
id(l)

4370263360

In [21]:
l[::2]

[1, 3, 5]

Let's see if we can replace those items:

In [22]:
l[::2] = ['a', 'b', 'c']

In [23]:
l, id(l)

(['a', 2, 'b', 4, 'c'], 4370263360)

Yes!! That worked, and the id of `l` is unchanged.

There is one thing about assigning to extended slices - the length of the slice and the length of the iterable we are setting on the right hand side must have the **same length**

hence, insertion and deletion doesn't work.For deletion: empty slice doesn't have same length as extended slice

In [25]:
l = [1, 2, 3, 4, 5]

In [26]:
l[::2]

[1, 3, 5]

In [27]:
l[::2] = ['a', 'b']

ValueError: attempt to assign sequence of size 2 to extended slice of size 3

In [28]:
l[::2] = ['a', 'b', 'c', 'd']

ValueError: attempt to assign sequence of size 4 to extended slice of size 3

This means that we cannot delete items using extended slicing:

In [29]:
l[::2] = []

ValueError: attempt to assign sequence of size 0 to extended slice of size 3

And of course insertion does not even make sense with an extended slice - remember that for insertion we need an empty slice...

#### Note

One last note, the right hand side can be any iterable. We saw how we could use a string for example. But any iterable, even non-sequence types will work as well.

In [61]:
l = [1, 2, 3, 4, 5]

In [62]:
l[3:3] = {'c', 'b', 'a'}

In [63]:
l

[1, 2, 3, 'b', 'a', 'c', 4, 5]

Of course, since we are inserting the values form a set, there is no guarantee of the order in which the elements will be inserted into our list.