# tuples as data structures

tuples are containers (like strings, lists), can be heterogenous or homogenous (re datatype in tuple), indexable, iterable, IMMUTABLE -> has fixed length and fixed order, no in-place sorting.

useful for representing data structures, 
e.g. coordinates in 2 dimensional space (x,y), position of element in tuple has meaning, i.e. x- and y-coordinate.

-> position of data has meaning

In [7]:
# example as 2D coordinate class:
class Point2D:
    def __init__(self,x,y):
        self.x=x
        self.y=y
    
    def __repr__(self):
        return f'(X = {self.x}, Y = {self.y})'

In [8]:
pt=Point2D(10,20)

In [9]:
pt

(X = 10, Y = 20)

In [10]:
pt.x=15

In [11]:
pt

(X = 15, Y = 20)

In [12]:
# not mutable:
a= 1,2,3

In [13]:
id(a)

140633305293312

In [14]:
a+= 4,

In [15]:
id(a)

140633306123456

-> different memory address, different object

In [16]:
# instead of creating a class, could also agree on convention "first element is x, second is y"
pt2=(20,30)

In [17]:
# or more complex: friends = (name, age, location)
b=('Bob',25,"Brussels")
a=('Ann',30,"Berlin")
c=("Charlie", 18,"Paris")

In [18]:
friends=[b,a,c]

common to have mutable, homogenuous list of immutable, heterogenuous tuples

In [19]:
total_age=0
for f in friends:
    total_age+=f[1]
print(total_age)

73

In [20]:
#or:
total_age=sum(f[1] for f in friends)
print(total_age)

73

# Named Tuples

namedtuples are a subclass of tuples, adds layer of property names. namedtuple is a function that generates a class which inherits from tuples.
Named tuples is a class factory.

namedtuple needs
* class name to use
* sequence of fild names in order passed to tuple

In [21]:
from collections import namedtuple

In [22]:
Point2D=namedtuple('Point2D',['x','y'])

In [23]:
pt1=Point2D(10,20)

In [24]:
pt1

Point2D(x=10, y=20)

In [25]:
#can also instantiate namedtuple like this:
Point2D=namedtuple('Point2D',('x','y')) #with tuple
Point2D=namedtuple('Point2D','x, y') #string
Point2D=namedtuple('Point2D','x y') #string

In [26]:
# can also use keyword arguments when creating instance of class:
pt2=Point2D(y=20,x=30)
pt2

Point2D(x=30, y=20)

In [27]:
isinstance(pt1, tuple)

True

In [28]:
for e in pt2:
    print(e)

30
20

In [29]:
pt1.x, pt2.y

(10, 20)

In [30]:
# can't mutate namedtuples!
pt2.x=10

AttributeError: can't set attribute

#### rename method of namedtuples
can't use "_" or numbers as fieldnames, rename replaces invalid fieldname with "_" and position of name in list

In [31]:
Person=namedtuple('Person',"name, age, _ssn")

ValueError: Field names cannot start with an underscore: '_ssn'

In [32]:
Person=namedtuple('Person',"name, age, _ssn", rename=True)

In [33]:
Person._fields

('name', 'age', '_2')

In [34]:
Person=namedtuple('Person','name 1age _ssn name',rename=True)

In [35]:
Person._fields

('name', '_1', '_2', '_3')

In [36]:
# use example:
Participant=namedtuple("Participant",('study', 'date', 'valid_data', 'age', 'sex'))

In [37]:
VP1=Participant("FLEXIT","23.06.2020",True,14,"f")

In [38]:
VP1

Participant(study='FLEXIT', date='23.06.2020', valid_data=True, age=14, sex='f')

In [39]:
VP2=Participant("FLEXIT","25.07.2020",True,20,"f")
VP3=Participant("FLEXIT","04.06.2020",True,18,"m")
VP4=Participant("FLEXIT","30.03.2021",True,12,"m")
VPs=[VP1,VP2,VP3,VP4]

In [40]:
VPs

[Participant(study='FLEXIT', date='23.06.2020', valid_data=True, age=14, sex='f'),
 Participant(study='FLEXIT', date='25.07.2020', valid_data=True, age=20, sex='f'),
 Participant(study='FLEXIT', date='04.06.2020', valid_data=True, age=18, sex='m'),
 Participant(study='FLEXIT', date='30.03.2021', valid_data=True, age=12, sex='m')]

In [41]:
max([i.age for i in VPs])

20

In [42]:
females=[VP for VP in VPs if VP.sex=='f']
females

[Participant(study='FLEXIT', date='23.06.2020', valid_data=True, age=14, sex='f'),
 Participant(study='FLEXIT', date='25.07.2020', valid_data=True, age=20, sex='f')]

In [43]:
#extended unpacking
VP2_study,VP2_date,*rest=VP2
VP2_date

'25.07.2020'

In [44]:
VP3._asdict()

{'study': 'FLEXIT',
 'date': '04.06.2020',
 'valid_data': True,
 'age': 18,
 'sex': 'm'}

In [45]:
VPs_dict_list=[V._asdict() for V in VPs]

In [46]:
VPs_dict_list

[{'study': 'FLEXIT',
  'date': '23.06.2020',
  'valid_data': True,
  'age': 14,
  'sex': 'f'},
 {'study': 'FLEXIT',
  'date': '25.07.2020',
  'valid_data': True,
  'age': 20,
  'sex': 'f'},
 {'study': 'FLEXIT',
  'date': '04.06.2020',
  'valid_data': True,
  'age': 18,
  'sex': 'm'},
 {'study': 'FLEXIT',
  'date': '30.03.2021',
  'valid_data': True,
  'age': 12,
  'sex': 'm'}]

# modifying named tuples
tuples are immutable, can only create new tuple

In [47]:
Point2D=namedtuple('Point2D',['x','y'])
pt=Point2D(10,20)
pt

Point2D(x=10, y=20)

In [48]:
#for simple tuples:
pt_new=Point2D(5,pt.y)
pt_new

Point2D(x=5, y=20)

In [49]:
# for longer tuples, changing the end
VP1

Participant(study='FLEXIT', date='23.06.2020', valid_data=True, age=14, sex='f')

In [50]:
*current, _=VP1
VP1_new=Participant(*current,'m')
VP1_new

Participant(study='FLEXIT', date='23.06.2020', valid_data=True, age=14, sex='m')

In [51]:
# for middle:
pre=VP1[0:2]
post=VP1[3:]
pre,post

(('FLEXIT', '23.06.2020'), (14, 'f'))

In [52]:
VP1_new=Participant(*pre,False,*post)
VP1_new

Participant(study='FLEXIT', date='23.06.2020', valid_data=False, age=14, sex='f')

--> not ideal way, namedtuples have repace method for this:

In [53]:
# ._replace:
VP1_new=VP1._replace(valid_data=False,sex='m')
VP1_new

Participant(study='FLEXIT', date='23.06.2020', valid_data=False, age=14, sex='m')

# extending named tuples

extending keys/ fields

In [54]:
VP1._fields

('study', 'date', 'valid_data', 'age', 'sex')

In [55]:
newfields=VP1._fields + ('mean_perf',)

In [56]:
Participant_ext=namedtuple('Participant',newfields)

extending values

In [57]:
VP1_ext=Participant_ext(*VP1,mean_perf=0.78)
VP1_ext

Participant(study='FLEXIT', date='23.06.2020', valid_data=True, age=14, sex='f', mean_perf=0.78)

In [58]:
VP2_ext=Participant_ext(*VP2,0.56)
VP2_ext

Participant(study='FLEXIT', date='25.07.2020', valid_data=True, age=20, sex='f', mean_perf=0.56)

In [59]:
VP3_ext=Participant_ext._make(VP3 + (0.67,))
VP3_ext

Participant(study='FLEXIT', date='04.06.2020', valid_data=True, age=18, sex='m', mean_perf=0.67)

### Docstrings for namedtuples

In [62]:
VP1_ext.__doc__

'Participant(study, date, valid_data, age, sex, mean_perf)'

# default values

no inherent method for specifying defaults. Can create a "prototype" and then use -replace with th correct fieldname. Or use ".__default__".

In [65]:
Vector2D=namedtuple("Vector2D", "x1 y1 x2 y2 orig_x orig_y ")

In [68]:
# prototype:
vector_zero=Vector2D(x1=0,y1=0,x2=0,y2=0,orig_x=0,orig_y=0)

In [69]:
vector_zero

Vector2D(x1=0, y1=0, x2=0, y2=0, orig_x=0, orig_y=0)

In [71]:
# now with replace create new vector:
vector1=vector_zero._replace(x1=10,x2=10,y1=2,y2=20)

In [72]:
vector1

Vector2D(x1=10, y1=2, x2=10, y2=20, orig_x=0, orig_y=0)

In [75]:
# using defaults with .__defaults__
# provided to constructor of tuple class .__new__   -> .__new__.__defaults__
Vector2D=namedtuple("Vector2D", "x1 y1 x2 y2 orig_x orig_y ")
Vector2D.__new__.__defaults__=(0,0)    # <- right aligned!!!
v2=Vector2D(x1=1,x2=1,y1=2,y2=2)

In [76]:
v2

Vector2D(x1=1, y1=2, x2=1, y2=2, orig_x=0, orig_y=0)

In [77]:
Vector2D.__new__.__defaults__=(1,2,3,4,5,6)
v3=Vector2D()

In [78]:
v3

Vector2D(x1=1, y1=2, x2=3, y2=4, orig_x=5, orig_y=6)